
.active{
  border-bottom: 2px #61dafb solid;
  padding-bottom: 3px;
 
}
.nav-link{
  color: #000 !important;
  font-weight: 500;
    font-size: 18px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.footer{
  position: fixed;
  bottom: 0;
  font-size: 12px;
  background-color: #0c7e5b;
  color:#FFF;
}
.bg-white{
  box-shadow: 0px 0px 15px 1px #0c7e5b;
}
.logoheader{
  color:#0c7e5b !important;
}
